<!-- Copyright (c) 2013 Nova Roma. All rights reserved. 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
	<head>
		<title>Digital Campus</title>
		<link href="/content/stylesheets/default.css" rel="stylesheet">
	</head>
	<body>
		<h1 class="center">Digital Campus</h1>

		<h3 class="center">Task List</h3>
		<ol>
			<li>Google based oauth authentication</li>
			<li>Ability to add periods/sections</li>
			<li>Ability to create daily landing page for students</li>
			<li>Ability to edit class roster</li>
			<li>Ability to take attendance based off of student log in</li>
			<li>
				Ability for teacher to export attendance data to meaningful 
				format
			</li>
			<li>Ability to add school years</li>
			<li>Ability to divide school years into meaningful divisions.</li>
			<li>Ability to add lesson plan.</li>
			<li>Ability to link google doc to lesson plan.</li>
		</ol>

		<footer class="center">
			<div>
				Digital Campus is an open source classroom management and 
				planning tool for teachers. Source code can be found on
				<a href="https://github.com/novaroma/digitalcampus">GitHub</a>
			</div>
			<div>
				Copyright (c) 2013 Nova Roma. All rights Reserved
			</div>
		</footer>
	</body>
</html>